body {
    font-family: Arial;
    text-align: center;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

li:hover {
    background-color: #ffeaea; /* Color para indicar que se puede borrar */
}
li button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

li button:hover {
    background-color: #cc0000;
}

li {
    margin-bottom: 10px;
}